<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="福岡,治安,マップ">
    <meta name="description" content="【福岡県内の治安情報を市民目線で提供】地元住民から集められた治安情報をタイムラインやマップ上で分かりやすく表示しています">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>福岡防犯ハザードマップ</title>
</head>
<body>
    <header>
        <div class="topContainer">
            <div class="title">
                <img src="../static/image/Logo.png" alt="">
                <h1 class="topLogo"><a href="/home">ふくおか防犯ハザードマップ</a></h1>
            </div>
            <div class="spacebox"></div>
            <div class="pagejump">
                <p class="toform"><a href="/form">投稿ページ</a></p>
                <div class="spacebox2"></div>
                <p class="toMap"><a href="/map">全体マップ</a></p>
            </div>
        </div>
    </header>
    <div class="headerBlock"></div>
    <div class="body_h">
        <div class="body_s">
    {% block content %}

    {% endblock %}
        </div>
    </div>
    <footer>
        <p class="copyright">©︎2022 防犯ハザードマップ</p>
    </footer>
    <script src="static/js/jquery-3.6.1.js"></script>
    <script src="static/js/common.js"></script>
</body>
</html>
