<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>防犯ハザードマップ</title>
</head>
<body>
    <div class="header">
        <p>Logo</p>
        <div class="menu">
            <p><a href="/home">Home</a></p>
            <p><a href="/login">Login</a></p>
            <p><a href="/logout">Logout</a></p>
        </div>
    </div>
    {%block content %}

    {% endblock %}
    <div class="footer">
        <p>damadama</p>
    </div>
    <script src="static/js/jquery-3.6.1.js"></script>
    <script src="static/js/common.js"></script>
    <script src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AuESy222px73uVstzTY2dGkbAwLSw3XkFadgykE28dK31K5iU4JuRQE61qhjRog5' async defer></script>

</body>
</html>
