{% extends "base.html" %}

{% block content %}


<h5>以下の投稿フォームに詳細を入力後、投稿ボタンを押してください</h5>
    <form action="/form_py" method="post" enctype="multipart/form-data" id="formId">
        <h4>投稿フォーム</h4>

        <!-- 年齢 -->
        <div class="formCard">
            <h5 class="formTitle">〜被害者情報〜</h5>
            <p>年齢</p>
            <input type="text" list="agelist" name = "age">
            <datalist id="agelist">
                <option value="10歳以下">10歳以下</option>
                <option value="10代">10代</option>
                <option value="20代">20代</option>
                <option value="30代">30代</option>
                <option value="40代">40代</option>
                <option value="50代">50代</option>
                <option value="60代">60代</option>
                <option value="70歳以上">70歳以上</option>
            </datalist>
        </div>

        <!-- 性別 -->
        <div class="formCard">
            <p>性別</p>
            <input type="text" list="sexlist" name = "sex">
            <datalist id="sexlist">
                <option value="男性">man</option>
                <option value="女性">woman</option>
            </datalist>
        </div>

        <!-- 日時 -->
        <div class="formCard">
            <h5 class="formTitle">〜被害の内容〜</h5>
            <p>発生日時</p>
            <input type="datetime-local" name = "datetime">
        </div>

        <!-- 場所 -->
        <div class="formCard">
            <p>場所</p>

            <img id="image">
            <div class="hiddenCard">
                <div id="test"></div>
                <div id="test2"></div>
                <div id="geocodeLat">緯度を表示</div>
                <div id="geocodeLon">軽度を表示</div>
                <div id="geocode">住所を表示</div>
            </div>
            <div id="myMap" style="width:100%;height:250px;float:left;display: block;"></div>
            <input id="inputLat" type="hidden" name = "location_conv_ido" style="height:30%">
            <input id="inputLon" type="hidden" name = "location_conv_keido" style="height:30%">
            <input id="inputPlace" type="hidden" name = "location_input" style="height:30%">
            <input id="inputUrl" type="hidden" name = "image_url" style="height:30%">
            <script src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Am1A8omJimUSiKmqMekNEEiVLN6owRv3ueFbxXDJ-GV2kl2Fg3NzPPgtFT56pwRz' async defer></script>
            <script src="../static/js/BmapQuery.js"></script>

            <script>
                //****************************************************************************************
                // BingMaps&BmapQuery
                //****************************************************************************************
                //Init
                function GetMap(){
                    //------------------------------------------------------------------------
                    //1. Instance
                    //------------------------------------------------------------------------
                    const map = new Bmap("#myMap");
                    
                    //------------------------------------------------------------------------
                    //2. Display Map
                    //   startMap(lat, lon, "MapType", Zoom[1~20]);
                    //   MapType:[load, aerial,canvasDark,canvasLight,birdseye,grayscale,streetside]
                    //--------------------------------------------------
                    map.startMap(33.58996049431529, 130.42046689560374, "load", 15);
                
                    //----------------------------------------------------
                    //3. Geocode(2 patterns)
                    // getGeocode("searchQuery",callback);
                    //----------------------------------------------------
                    
                    
                    //B.Get geocode of click location
                    map.onGeocode("click", function(data){
                        map.deletePin();
                        console.log(data);                   //Get Geocode ObjectData
                        const lat = data.location.latitude;  //Get latitude
                        const lon = data.location.longitude; //Get longitude
                        document.querySelector("#geocodeLat").innerHTML=lat;
                        document.querySelector("#geocodeLon").innerHTML=lon;
                        document.querySelector("#test").innerHTML=lat+","+lon;
                        document.querySelector("#test2").innerHTML='http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/'+lat+','+lon+'/15?key=Am1A8omJimUSiKmqMekNEEiVLN6owRv3ueFbxXDJ-GV2kl2Fg3NzPPgtFT56pwRz';
                        let pin = map.pin(lat, lon, "#ff0000");
                        var Myelement = document.getElementById("inputLat");
                        Myelement.value = lat;
                        var Myelement = document.getElementById("inputLon");
                        Myelement.value = lon;
                        var imgurl = 'http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/'+lat+','+lon+'/15?ms=300,175&pp='+lat+','+lon+';80&key=Am1A8omJimUSiKmqMekNEEiVLN6owRv3ueFbxXDJ-GV2kl2Fg3NzPPgtFT56pwRz';
                        console.log(imgurl);
                        var Myelement = document.getElementById("inputUrl");
                        Myelement.value = imgurl;
                    });
                    // Microsoft.Maps.Events.removeHandler(pushpinClick);
                    // Microsoft.Maps.Events.removeHandler(mapClick);
                    map.onGeocode("click", function(clickPoint){
                        map.reverseGeocode(clickPoint.location, function(place){
                            console.log(place);
                            document.querySelector("#geocode").innerHTML=place;
                            var Placeelement = document.getElementById("inputPlace");
                            Placeelement.value = place;
                        });
                    });
                }
                    
            </script>
        </div>
        <!-- 分類 -->
        <div class="formCard">
            <p>分類</p>
            <input type="text" list="typelist" name = "class_incident">
            <datalist id="typelist">
                <option value="声かけ">声かけ</option>
                <option value="痴漢">痴漢</option>
                <option value="付きまとい">付きまとい</option>
                <option value="不審者">不審者</option>
                <option value="公然わいせつ">公然わいせつ</option>
                <option value="暴行">暴行</option>
                <option value="ひったくり">ひったくり</option>
                <option value="その他">その他</option>
            </datalist>
        </div>

        <!-- 噂＆事実 -->
        <div class="formCard">
            <p>噂or事実</p>
            <input type="text" list="ForR" name = "class_fact_rumor">
            <datalist id="ForR">
                <option value="噂">噂</option>
                <option value="事実">事実</option>
            </datalist>
        </div>

        <!-- 詳細 -->
        <div class="formCard">
            <p>詳細</p>
            <textarea name = "detail" rows="4" cols="50"></textarea>
        </div>
        
        <input type="submit" name = "save" value="投稿" id="toukoubtn">
    </form>

    <a href="/home"><h5>[ ふくおか防犯ハザードマップ ]</h5></a>
    <br>
{% endblock %}