{% extends "base.html" %}

{% block content %}
    <div class="tl_title_area">
        <h3 class="tl_title">タイムライン</h3>
    </div>
    {% for toukou in html_toukou_r %}
    <!-- <div class="timeline"> -->
        <!-- <div class="timeline_card">
            <div class="timeline_str">
                <p>発生日時：{{toukou[1]}}</p>
                <p>発生場所：{{toukou[4]}}</p>
                <p>被害者情報：{{toukou[2]}} {{toukou[3]}}</p>
                <p>被害分類：{{toukou[7]}}（{{toukou[8]}}</p>
                <p>詳細：{{toukou[9]}}</p>
            </div>
            <img src = {{toukou[10]}}>
        </div> -->
        
        <div class="row row-cols-xl-2 row-cols-sm-12">
            <div class="col-xl-8 col-sm-10">
              <div class="card bg-light">
                <div class="card-body">
                  <h5 class="card-title">事案詳細</h5>
                  <p class="card-text">発生日時：{{toukou[1]}}</p>
                  <p class="card-text">発生場所：{{toukou[4]}}</p>
                  <p class="card-text">被害者　：{{toukou[2]}} {{toukou[3]}}</p>
                  <p class="card-text">被害分類：{{toukou[7]}}（{{toukou[8]}})</p>
                  <p class="card-text">詳細　　：{{toukou[9]}}</p>
                </div>
                <img src="{{toukou[10]}}" class="card-img px-5 mb-1" alt="...">
              </div>
            </div>
        </div>

    <!-- </div> -->
    {% endfor %}


{% endblock %}