{% extends "base.html" %}

{% block content %}

<!-- 
    {% for mapdata in html_map_data %}
        <p>{{mapdata}}</p>
    {% endfor %}
-->

    <div id="main">
        <h1>全体MAP</h1>
        <p>
            <input type="text" id="from" value="福岡県福岡市"> <button id="get">Search</button>
        </p>
        <div id="myMap" style='width:100%;height:450px;'></div> 
        
    </div>

    <div style="text-align:left">
        <p><br></p>
        <p>出典：福岡県警察ウェブサイト</p>
        <p>犯罪オープンデータ(https://www.police.pref.fukuoka.jp/tokei/index.html)を元にグラフを作成</p>
    </div>


    <script src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AuESy222px73uVstzTY2dGkbAwLSw3XkFadgykE28dK31K5iU4JuRQE61qhjRog5' async defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/test.geojson') }}"></script>
    <script>

        //htmlからjsへ変数の値を持ってくる
        let address={{html_map_data | tojson}};
        let address_opendata={{html_map_data_opendata | tojson}};

        var map, clusterLayer, clusterLayer1, infobox;
        let searchManager;
        
        function GetMap() {
            map = new Microsoft.Maps.Map('#myMap', {
                center: new Microsoft.Maps.Location(33.5901838, 130.40), //Location center position
                zoom: 15  //Zoom:1=zoomOut, 20=zoomUp[ 1~20 ]
            });
            
            //Add an infobox to the map.
            infobox = new Microsoft.Maps.Infobox(map.getCenter(), { visible: false });
            infobox.setMap(map);


            //for文でデータがある分だけピンを立てる処理を実行
            let pins=[]
            let des=[]
            for (let j = 0; j<address.length; j++){
                //Create custom Pushpin
                pins[j] = new Microsoft.Maps.Pushpin(address[j], {
                    color: 'red',            //Color
                    //draggable:true,          //MouseDraggable
                    //enableClickedStyle:true, //Click
                    //enableHoverStyle:true,   //MouseOver
                    //visible:true,             //show/hide
                    title:address[j].date+ "\n" +address[j].incident,           //pushpin title
                    //subtitle:"表参道",        //Pushpin subtitle
                    text:"投稿"            
                });
                pins[j].metadata = {
                    title: 'Pin Title',
                    description: address[j].detail
                };

                Microsoft.Maps.Events.addHandler(pins[j], 'click', pushpinClicked_pushpin);
                
            }
            //map.entities.push(pin);

            //for文でデータがある分だけピンを立てる処理を実行 address_opendata用
            let pins_opendata=[]

            for (let j = 0; j<address_opendata.length; j++){
                //Create custom Pushpin
                if (address_opendata[j].opendata_or_news==1){
                    pins_opendata[j] = new Microsoft.Maps.Pushpin(address_opendata[j], {
                        color: 'blue',            //Color
                        //draggable:true,          //MouseDraggable
                        //enableClickedStyle:true, //Click
                        //enableHoverStyle:true,   //MouseOver
                        //visible:true,             //show/hide
                        title:address_opendata[j].date+ "\n" +address_opendata[j].incident,           //pushpin title
                        //subtitle:'aaaaaa'        //Pushpin subtitle
                        text:"OD"            
                    });
                }else{
                    pins_opendata[j] = new Microsoft.Maps.Pushpin(address_opendata[j], {
                        color: 'purple',            //Color
                        //draggable:true,          //MouseDraggable
                        //enableClickedStyle:true, //Click
                        //enableHoverStyle:true,   //MouseOver
                        //visible:true,             //show/hide
                        title:address_opendata[j].date+ "\n" +address_opendata[j].incident,           //pushpin title
                        //subtitle:'aaaaaa'        //Pushpin subtitle
                        text:"WN"            
                        });
                }

                pins_opendata[j].metadata = {
                    title: 'Pin Title',
                    description: address_opendata[j].detail
                };
                Microsoft.Maps.Events.addHandler(pins_opendata[j], 'click', pushpinClicked_pushpin);
            }
            //map.entities.push(pin_opendata);

            //レイヤーの追加start
            //Load the Clustering module.
            Microsoft.Maps.loadModule("Microsoft.Maps.Clustering", function () {
                //Generate 1,000 random pushpins in the map view. 
                //var pins = Microsoft.Maps.TestDataGenerator.getPushpins(1000, map.getBounds());
                
                //Create a ClusterLayer and add it to the map.
                clusterLayer = new Microsoft.Maps.ClusterLayer(pins,{
                    //clusteredPinCallback: createCustomClusteredPin,
                    clusteredPinCallback: createCustomClusterPushpins,
                    gridSize: 50,
                    ///callback: createPushpinList
                });
                map.layers.insert(clusterLayer);
                
                clusterLayer1 = new Microsoft.Maps.ClusterLayer(pins_opendata,{
                    //clusteredPinCallback: createCustomClusteredPin,
                    clusteredPinCallback: createCustomClusterPushpins,
                    gridSize: 50,
                    //callback: createPushpinList
                });
                map.layers.insert(clusterLayer1);
            });
            //レイヤーの追加end

            //クラスターの大きさ変更start------------------------
            //A function that defines how clustered pins are rendered.
            // function createCustomClusteredPin(cluster) {
            //     //Get the number of pushpins in the cluster
            //     var clusterSize = cluster.containedPushpins.length;

            //     var radius = 10;    //Default radius to 20 pixels.
            //     var fillColor = 'lime'; 	//Default to lime green.                

            //     if (clusterSize >= 750) {
            //         radius = 20;   //If point_count >= 750, radius is 40 pixels.
            //         fillColor = 'red';    //If the point_count >= 750, color is red.
            //     } else if (clusterSize >= 100) {
            //         radius = 15;    //If point_count >= 100, radius is 30 pixels.
            //         fillColor = 'yellow';    //If the point_count >= 100, color is yellow.
            //     }

            //     //Create an SVG string of a circle with the specified radius and color.
            //     var svg = ['<svg xmlns="http://www.w3.org/2000/svg" width="', (radius * 2), '" height="', (radius * 2), '">',
            //         '<circle cx="', radius, '" cy="', radius, '" r="', radius, '" fill="', fillColor, '"/>',
            //         '<text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" style="font-size:12px;font-family:arial;fill:black;" >{text}</text>',
            //         '</svg>'];

            //     //Customize the clustered pushpin using the generated SVG and anchor on its center.
            //     cluster.setOptions({
            //         icon: svg.join(''),
            //         anchor: new Microsoft.Maps.Point(radius, radius),
            //         textOffset: new Microsoft.Maps.Point(0, radius - 8) //Subtract 8 to compensate for height of text.
            //     });
            // }
            //クラスターの大きさ変更end------------------------
            
            //住所検索用
            //Search();
        }
        
        
        function createCustomClusterPushpins(cluster) {
            
            //clickしたらリスト表示start------------------------
            //Create a title for the cluster.
            cluster.setOptions({
                title: 'Cluster of ' + cluster.containedPushpins.length + ' pins'
            });

            //Add handler for the cluster click event.
            Microsoft.Maps.Events.addHandler(cluster, 'click', pushpinClicked);
            //clickしたらリスト表示end------------------------

            //クラスターの大きさ変更start------------------------
            //Get the number of pushpins in the cluster
            var clusterSize = cluster.containedPushpins.length;

            var radius = 10;    //Default radius to 20 pixels.
            var fillColor = 'lime'; 	//Default to lime green.                

            if (clusterSize >= 750) {
                radius = 20;   //If point_count >= 750, radius is 40 pixels.
                fillColor = 'red';    //If the point_count >= 750, color is red.
            } else if (clusterSize >= 100) {
                radius = 15;    //If point_count >= 100, radius is 30 pixels.
                fillColor = 'yellow';    //If the point_count >= 100, color is yellow.
            }

            //Create an SVG string of a circle with the specified radius and color.
            var svg = ['<svg xmlns="http://www.w3.org/2000/svg" width="', (radius * 2), '" height="', (radius * 2), '">',
                '<circle cx="', radius, '" cy="', radius, '" r="', radius, '" fill="', fillColor, '"/>',
                '<text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" style="font-size:12px;font-family:arial;fill:black;" >{text}</text>',
                '</svg>'];

            //Customize the clustered pushpin using the generated SVG and anchor on its center.
            cluster.setOptions({
                icon: svg.join(''),
                anchor: new Microsoft.Maps.Point(radius, radius),
                textOffset: new Microsoft.Maps.Point(0, radius - 8) //Subtract 8 to compensate for height of text.
            });
            //クラスターの大きさ変更end------------------------
        }

        //プッシュピン用
        function pushpinClicked_pushpin(e) {
            //Show an infobox when a pushpin is clicked.
            showInfobox_pushpin(e.target);
        }

        //クラスター用
        function pushpinClicked(e) {
            //Show an infobox when a pushpin is clicked.
            showInfobox(e.target);
        }

        function createPushpinList() {
            //Create a list of displayed pushpins each time clustering layer updates.

            if (clusterLayer != null) {
                infobox.setOptions({ visible: false });

                //Get all pushpins that are currently displayed.
                var data = clusterLayer.getDisplayedPushpins();
                var output = [];

                //Create a list of links for each pushpin that opens up the infobox for it.
                for (var i = 0; i < data.length; i++) {
                    output.push("<a href='javascript:void(0);' onclick='showInfoboxByGridKey(", data[i].gridKey, ");'>");
                    output.push(data[i].getTitle(), "</a><br/>");
                }

                document.getElementById('listOfPins').innerHTML = output.join('');
            }
        }

        function showInfoboxByGridKey(gridKey) {
            //Look up the cluster or pushpin by gridKey.
            var clusterPin = clusterLayer.getClusterPushpinByGridKey(gridKey);

            //Show an infobox for the cluster or pushpin.
            showInfobox(clusterPin);
        }

        function showInfobox(pin) {
            var description = [];

            //Check to see if the pushpin is a cluster.
            if (pin.containedPushpins) {
                //Create a list of all pushpins that are in the cluster.
                description.push('<div style="max-height:75px;overflow-y:auto;"><ul>');
                for (var i = 0; i < pin.containedPushpins.length; i++) {
                    description.push('<li>', pin.containedPushpins[i].getTitle(), '</li>');
                }
                description.push('</ul></div>');
                
                //Display an infobox for the pushpin.　クラスター押したとき
                infobox.setOptions({
                    title: pin.getTitle(),
                    location: pin.getLocation(),
                    //description: description.join(''),
                    description: description.join(''),
                    visible: true
                });
                console.log(infobox)
            }
        }



        function showInfobox_pushpin(pin) {
            var description = [];
            //Display an infobox for the pushpin.
            infobox.setOptions({
                title: pin.getTitle(),
                location: pin.getLocation(),
                //description: description.join(''),
                description: pin.metadata.description,
                visible: true
            });

            console.log(infobox)
        }











        
        //showInfoboxの元データ
        // function showInfobox(pin) {
        //     var description = [];

        //     //Check to see if the pushpin is a cluster.
        //     if (pin.containedPushpins) {

        //         //Create a list of all pushpins that are in the cluster.
        //         description.push('<div style="max-height:75px;overflow-y:auto;"><ul>');
        //         for (var i = 0; i < pin.containedPushpins.length; i++) {
        //             description.push('<li>', pin.containedPushpins[i].getTitle(), '</li>');
        //         }
        //         description.push('</ul></div>');
        //     }
        //     //Display an infobox for the pushpin.
        //     infobox.setOptions({
        //         title: pin.getTitle(),
        //         location: pin.getLocation(),
        //         //description: description.join(''),
        //         description: description.join(''),
        //         visible: true
        //     });

        //     console.log(infobox)
        // }

        

        //↓はpushpinClicked2の2は後で消す
        // function pushpinClicked2(e) {
        //     //Make sure the infobox has metadata to display.
        //     if (e.target.metadata) {
        //         //Set the infobox options with the metadata of the pushpin.
        //         infobox.setOptions({
        //             location: e.target.getLocation(),
        //             title: e.target.metadata.title,
        //             description: e.target.metadata.description,
        //             visible: true
        //         });
        //     }
        // }

        //検索用function_start-------------------------------------------------------------------
        function Search() {
            if (!searchManager) {
                //Create an instance of the search manager and perform the search.
                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                    searchManager = new Microsoft.Maps.Search.SearchManager(map);
                    Search()
                });
            } else {
                //Remove any previous results from the map.
                map.entities.clear();
                //Get the users query and geocode it.
                let query = document.getElementById('from').value;
                geocodeQuery(query);
            }
        }
        
        function geocodeQuery(query) {
            let searchRequest = {
                where: query,
                callback: function (r) {
                    if (r && r.results && r.results.length > 0) {
                        let pin, pins = [], locs = [], output = 'Result:<br/>';
                        for (let i = 0; i < r.results.length; i++) {
                            //Create a pushpin for each result.
                            pin = new Microsoft.Maps.Pushpin(r.results[i].location, {
                                text: i + ''
                            });
                            pins.push(pin);
                            locs.push(r.results[i].location);
                            output += i + ') ' + r.results[i].name + '<br/>';
                        }
                        //Add the pins to the map
                        map.entities.push(pins);
                        //Display list of results
                        document.getElementById('output').innerHTML = output;
                        //Determine a bounding box to best view the results.
                        let bounds;
                        if (r.results.length == 1) {
                            bounds = r.results[0].bestView;
                        } else {
                            //Use the locations from the results to calculate a bounding box.
                            bounds = Microsoft.Maps.LocationRect.fromLocations(locs);
                        }
                        map.setView({ bounds: bounds });
                    }
                },
                errorCallback: function (e) {
                    //If there is an error, alert the user about it.
                    alert("No results found.");
                }
            };
            //Make the geocode request.
            searchManager.geocode(searchRequest);
        }

        //Search Button
        document.getElementById("get").onclick = function(){
            Search();
        };
        //検索用function_end-------------------------------------------------------------------


    </script>

{% endblock %}