{% extends "base.html" %}

{% block content %}
    <p>ここは全体mapです</p>

    <div>
        <h1>Basic template</h1>
        <div id="myMap" style='width:100%;height:450px;'></div>    
    </div>


    <script src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AuESy222px73uVstzTY2dGkbAwLSw3XkFadgykE28dK31K5iU4JuRQE61qhjRog5' async defer></script>
    <script>
        function GetMap() {
            let map = new Microsoft.Maps.Map('#myMap', {
                center: new Microsoft.Maps.Location(47.6149, -122.1941), //Location center position
                zoom: 15  //Zoom:1=zoomOut, 20=zoomUp[ 1~20 ]
            });

            //Get MAP Infomation
//            let center = map.getCenter();
//            console.log(center);


            let address=[{latitude:47.6149,longitude:-122.1941},{latitude:47.61,longitude:-122.1941}];
//            console.log(address[0]);

            let pin=[]
            let group=[]
            for (let j = 0; j<2; j++){
            //Create custom Pushpin
            pin[j] = new Microsoft.Maps.Pushpin(address[j], {
                color: 'red',            //Color
                draggable:true,          //MouseDraggable
                enableClickedStyle:true, //Click
                enableHoverStyle:true,   //MouseOver
                visible:true,             //show/hide
                title:'test'           //pushpin title
                //subtitle:"表参道",        //Pushpin subtitle
                //text:"G"            
            });

            //Add the pushpin to the map
            group[j]=new Microsoft.Maps.EntityCollection();
            group[j].push(pin[j]);
            map.entities.push(group[j]);
            }
        }
    </script>



{% endblock %}