{% extends "base.html" %}

{% block content %}

    <!-- test用
    {% for mapdata in html_map_data_opendata %}
        <p>{{mapdata}}</p>
    {% endfor %}
    test用 -->

    <div>
        <h1>全体MAP</h1>
        <div id="myMap" style='width:100%;height:450px;'></div>    
    </div>


    <script src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AuESy222px73uVstzTY2dGkbAwLSw3XkFadgykE28dK31K5iU4JuRQE61qhjRog5' async defer></script>
    <script>

        //htmlからjsへ変数の値を持ってくる
        let address={{html_map_data | tojson}};
        let address_opendata={{html_map_data_opendata | tojson}};
        

        //test---------------------------
        //let test=[{'latitude': 33.5901838, 'longitude': 130.4016888},{'latitude': 33.5901239, 'longitude': 130.4016429}];
        //let test=[{latitude: 33.5901838, longitude: 130.4016888},{latitude: 33.5901239, longitude: 130.4016429}]
        //function butotnClick(){
        //    alert(test);
        //}
        //let button = document.getElementById('btn');
        //button.addEventListener('click', butotnClick);
        //test---------------------------

        function GetMap() {
            let map = new Microsoft.Maps.Map('#myMap', {
                center: new Microsoft.Maps.Location(33.5901838, 130.4016888), //Location center position
                zoom: 18  //Zoom:1=zoomOut, 20=zoomUp[ 1~20 ]
            });

            //let address=[{'latitude': 33.5901838, 'longitude': 130.4016888},{'latitude': 33.5901239, 'longitude': 130.4016429}];
            //let address=[{"latitude":47.6149,"longitude":-122.1941},{latitude:47.61,longitude:-122.1941}];

            //for文でデータがある分だけピンを立てる処理を実行
            let pin=[]
            let group=[]
            for (let j = 0; j<address.length; j++){
            //Create custom Pushpin
            pin[j] = new Microsoft.Maps.Pushpin(address[j], {
                color: 'red',            //Color
                draggable:true,          //MouseDraggable
                enableClickedStyle:true, //Click
                enableHoverStyle:true,   //MouseOver
                visible:true,             //show/hide
                //title:'test'           //pushpin title
                //subtitle:"表参道",        //Pushpin subtitle
                //text:"G"            
            });

            //Add the pushpin to the map
            group[j]=new Microsoft.Maps.EntityCollection();
            group[j].push(pin[j]);
            map.entities.push(group[j]);
            }

            //for文でデータがある分だけピンを立てる処理を実行 address_opendata用
            let pin_opendata=[]
            let group_opendata=[]
            for (let j = 0; j<address_opendata.length; j++){
            //Create custom Pushpin
            pin_opendata[j] = new Microsoft.Maps.Pushpin(address_opendata[j], {
                color: 'blue',            //Color
                draggable:true,          //MouseDraggable
                enableClickedStyle:true, //Click
                enableHoverStyle:true,   //MouseOver
                visible:true,             //show/hide
                //title:'test'           //pushpin title
                //subtitle:"表参道",        //Pushpin subtitle
                //text:"G"            
            });

            //Add the pushpin to the map
            group_opendata[j]=new Microsoft.Maps.EntityCollection();
            group_opendata[j].push(pin_opendata[j]);
            map.entities.push(group_opendata[j]);
            }

        }
    </script>



{% endblock %}